<p>user works!</p>
<h1 class="text-center" style="color: red;">USER PROFILE TEMPLATE</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!--Links-->
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">JOBS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">CLIENTS</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">EMPLOYEES</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">CONTACT US</a>
</li>
  </ul>
</nav><br>

<h3 style="color: blue;">Profile</h3>
<img src="assets/sapna.jpg" alt="My Image">

<p>I am Sapna Loni <br> i have completed my full stack development course in Spark Institute.<br>
  i live in the city of Pune.<br>my hobbies are swimming,cooking and playing hockey</p>

  <button type="submit" class="btn btn-success" (click)="onButtonClick()">I Agree</button><br><br>
  <!-- <button (click)="onButtonClick()">Click me</button> -->


<button type="submit" class="btn btn-warning">Edit Photo</button>
<button type="submit" class="btn btn-warning">Edit Profile</button>

